<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Stateindex.css">
    <title>State In Nigeria</title>
</head>
<body>
       <header>
           <div class="header-content">
               <div class="header-first">
                    <h2>State.com</h2>
               </div>
                <div class="header-search">
                    <ul>
                        <li><a href="*">Home</a></li>
                        <li><a href="*">State</a></li>
                        <li><a href="*">Tribe</a></li>
                    </ul>
                    <input type="text" placeholder="Enter State">
                    <button type="button" class="search">Search</button>
                </div>
           </div>
       </header>
       <div class="container col-s-8">
           <div class="content">
               <div class="country">
                    <div class="country-head">
                        <h3 class="capital"><span>Country:</span> Nigeria</h3>
                    </div>
                    <div class="country-body">
                         <h5 class="capital">Capital</h5>
                         <img src="abuja.jpeg" alt="imageOfLagos">
                    </div>
                    <div class="country-footer">
                        <h5>Abuja</h5>
                    </div>
               </div>
               <div class="largest">
                   <h3 class="capital">Largest City</h3>
               </div>
               <div class="largestCity">
                     <div class="city">
                        <img src="abuja.jpeg" alt="imageOfLagos">
                        <div class="country-footer">
                            <h5>Lagos</h5>
                        </div>
                     </div>
                     <div class="city">
                        <img src="abuja.jpeg" alt="imageOfLagos">
                        <div class="country-footer">
                            <h5>Abuja</h5>
                        </div>
                     </div>
                     <div class="city">
                        <img src="abuja.jpeg" alt="imageOfLagos">
                        <div class="country-footer">
                            <h5>Abuja</h5>
                        </div>
                     </div>
               </div>
               <div class="lang">
                <p>Language: <span>Yoruba</span></p>
                <p>Demonyms: <span>Nigerian</span></p>
               </div>
               <hr class="divide"/>
               <div class="flag">
                   <div class="country-body">
                       <h3 class="capital">Flag</h3>
                      <img src="abuja.jpeg" alt="imageOfLagos">
                   </div>
                  <div class="flag-footer">
                        <h5>Time Zone:<span>UTC + 1</span></h5>
                        <h5>Population700,000,098</h5>
                  </div>
               </div>
                <div class="culture">
                    <h4 class="capital">culture</h4>
                    <div class="largestCity">
                        <div class="city">
                            <img src="abuja.jpeg" alt="imageOfLagos">
                            <div class="country-footer">
                                <h5>Abuja</h5>
                            </div>
                         </div>
                        <div class="city">
                           <img src="abuja.jpeg" alt="imageOfLagos">
                           <div class="country-footer">
                               <h5>Abuja</h5>
                           </div>
                        </div>
                        <div class="city">
                           <img src="abuja.jpeg" alt="imageOfLagos">
                           <div class="country-footer">
                               <h5>Abuja</h5>
                           </div>
                        </div>
                  </div>
                </div>
                <div class="ethinic">
                    <h4 class="capital">Ethinic Group</h4>
                    <div class="largestCity">

                        <div class="city">
                            <img src="abuja.jpeg" alt="imageOfLagos">
                            <div class="country-footer">
                                <h5>Abuja</h5>
                            </div>
                         </div>
                        <div class="city">
                           <img src="abuja.jpeg" alt="imageOfLagos">
                           <div class="country-footer">
                               <h5>Abuja</h5>
                           </div>
                        </div>
                        <div class="city">
                           <img src="abuja.jpeg" alt="imageOfLagos">
                           <div class="country-footer">
                               <h5>Abuja</h5>
                           </div>
                        </div>
                  </div>
                  <div class="religion">
                       <h4>Common Religion: <span class="rel">Muslim, Christian</span></h4>
                       <h4>Date of Independence:<span class="rel">Oct 1, 1960</span></h4>
                  </div>
                </div>
                <div class="culture">
                    <h4 class="capital">Land Mark</h4>
                    <div class="largestCity">
                        <div class="city">
                            <img src="abuja.jpeg" alt="imageOfLagos">
                            <div class="country-footer">
                                <h5>Abuja</h5>
                            </div>
                         </div>
                        <div class="city">
                           <img src="abuja.jpeg" alt="imageOfLagos">
                           <div class="country-footer">
                               <h5>Abuja</h5>
                           </div>
                        </div>
                        <div class="city">
                           <img src="abuja.jpeg" alt="imageOfLagos">
                           <div class="country-footer">
                               <h5>Abuja</h5>
                           </div>
                        </div>
                  </div>
                </div>
                <div class="culture">
                    <h4 class="capital">Tourist Attraction</h4>
                    <div class="largestCity">
                        <div class="city">
                            <img src="abuja.jpeg" alt="imageOfLagos">
                            <div class="country-footer">
                                <h5>Abuja</h5>
                            </div>
                         </div>
                        <div class="city">
                           <img src="abuja.jpeg" alt="imageOfLagos">
                           <div class="country-footer">
                               <h5>Abuja</h5>
                           </div>
                        </div>
                        <div class="city">
                           <img src="abuja.jpeg" alt="imageOfLagos">
                           <div class="country-footer">
                               <h5>Abuja</h5>
                           </div>
                        </div>
                  </div>
                </div>    
                
               <div class="final-txt">
                 <p class="A">
                    <span>Polical History:</span> In the course of the examination, you are not permitted to 
                    click outside of the examination page, on your computer, for another tab or any 
                    other application for whatever reason, including for use of system calculator, 
                    a calculator will be provided on the examination page. Departure from the 
                    Examination tab will result due penalty.
                </p>
                <audio src="" />
               </div>   
           </div>
              <div class="audio">
                   <div class="audio-1">
                    <audio controls>
                         <source src="horse.ogg" type="audio/ogg">
                         <source src="horse.mp3" type="audio/mpeg">
                         Your browser does not support the audio element.
                    </audio>
                   </div>
                   <div class="audio-2">
                       <audio controls>
                           <source src="horse.ogg" type="audio/ogg">
                           <source src="horse.mp3" type="audio/mpeg">
                           Your browser does not support the audio element.
                      </audio>
                   </div>
              </div>       
       </div>
      <footer>
        <div class="footer-content">
              <div class="foot-1">
                  <h5>Let us Help You</h5>
                  <ul>
                    <li><a>HeAlp Center?</a></li>
                    <li><a>Contact Us</a></li>
                  </ul>
              </div>
              <div class="foot-1">
                 <h5>About Us</h5>
                 <ul>
                    <li><a>States</a></li>
                    <li><a>Culture</a></li>
                  </ul>
              </div>
             <div class="foot-1">
                 <h5>Contact-Us</h5>
                 <ul>
                    <li><a>+234 858586686</a></li>
                    <li><a>09068632296</a></li>
                  </ul>
             </div>
            <div class="foot-1">
                 <h5>Country</h5>
                 <ul>
                    <li><a>Nigeria</a></li>
                    <li><a>Lagos</a></li>
                    <li><a>Ikeja</a></li>
                  </ul>
            </div>
        </div>
      </footer>
    <script src="index.js"></script>
</body>
</html>