{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index1.css' %}">
    
    <title>WebSite</title>
</head>
<body>
    
     <header id="header">
         <div class="header-1">
                <div class="sub1-1">
                    <h3 class="logo-state" id="logo-state">State</h3>
                </div>
                <div class="sub1-2">
                    <input type="text" name="" placeholder="State" id="inp1">            
                    <button type="button" id="ser-1">Search</button>
                </div>
         </div>
         <div class="header-2">
               <div class="sub1-2">
                   <h3 class="logo-Location" id="logo-Location">Location</h3>
               </div>
               <div class="sub1-2">
                   <input type="text" name="" placeholder="Location" id="inp2">
                   <button type="button" id="ser-2">Location</button>
               </div>
         </div>
     </header>

     
     <div class="container">
        <div class="section-1" id="sec-1">
             <div class="some">
              
             </div>
        </div>
        <div class="section-2" id="sec-2">
          <div class="some1">
              
          </div>
        </div>
   </div>
   <footer>
    <div class="footer-content">
          <div class="foot-1">
              <h5>Let us Help You</h5>
              <ul>
                <li><a>HeAlp Center?</a></li>
                <li><a>Contact Us</a></li>
              </ul>
          </div>
          <div class="foot-1">
             <h5>About Us</h5>
             <ul>
                <li><a>States</a></li>
                <li><a>Culture</a></li>
              </ul>
          </div>
         <div class="foot-1">
             <h5>Contact-Us</h5>
             <ul>
                <li><a>+234 858586686</a></li>
                <li><a>09068632296</a></li>
              </ul>
         </div>
        <div class="foot-1">
             <h5>Country</h5>
             <ul>
                <li><a>Nigeria</a></li>
                <li><a>Lagos</a></li>
                <li><a>Ikeja</a></li>
              </ul>
        </div>
    </div>
  </footer>
  <script src="{% static 'js/index1.js' %}"></script>
  
</body>
</html>